@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext");
@font-face {
  font-family: 'ChunkFiveEx';
  src: url("../font/ChunkfiveEx.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'comfortaa-light';
  src: url("../font/Comfortaa-Light.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'comfortaa-regular';
  src: url("../font/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'comfortaa-bold';
  src: url("../font/Comfortaa-Bold.ttf") format("truetype");
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*     START NAV    */
.font-coral {
  color: #ea5a48; }

.navbar-default {
  background-color: #272223;
  border: none; }
  .navbar-default .navbar-brand {
    padding: 5px 20px; }
    .navbar-default .navbar-brand img {
      height: 60px; }
  .navbar-default .navbar-nav {
    float: right; }
    .navbar-default .navbar-nav li {
      border-bottom: none; }
      .navbar-default .navbar-nav li a {
        padding: 25px 25px;
        color: #fff;
        font-size: 20px; }
        .navbar-default .navbar-nav li a:hover {
          background-color: #272223;
          color: #ea5a48; }
    .navbar-default .navbar-nav .active {
      background-color: #272223; }
      .navbar-default .navbar-nav .active a {
        background-color: #272223;
        color: #ea5a48; }
        .navbar-default .navbar-nav .active a:hover {
          background-color: #272223; }
          .navbar-default .navbar-nav .active a:hover a {
            background-color: #272223;
            color: #ea5a48; }

@media (max-width: 920px) {
  .navbar-default .navbar-brand img {
    height: 40px; }
  .navbar-default .navbar-nav {
    float: none;
    text-align: center;
    height: 250px; }
    .navbar-default .navbar-nav li {
      height: 45px; }
      .navbar-default .navbar-nav li a {
        font-size: 18px; } }

/* END NAV */
html, body {
  position: relative;
  height: 100%;
  font-family: 'comfortaa-bold';
  font-size: 24px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

header video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 20px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

.header-content {
  position: relative;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3);
  text-align: center; }
  .header-content h1 {
    margin-top: 90px;
    font-size: 85px; }
  .header-content h2 {
    margin-top: -4px;
    font-size: 38px; }
  .header-content h3 {
    font-size: 38px; }
    .header-content h3:first-of-type {
      margin-top: 80px; }
  .header-content .header-content__phone a {
    color: #272223;
    font-size: 70px; }
  .header-content .btn-more {
    position: absolute;
    display: block;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ea5a48;
    padding: 10px 55px;
    color: #fff;
    font-size: 20px; }

.aboutUs {
  background-image: url("../img/cargo.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .aboutUs .container-fluid {
    background-color: rgba(0, 0, 0, 0.8); }
    .aboutUs .container-fluid .aboutUs-content {
      color: #fff;
      text-align: center;
      padding: 70px 0; }
      .aboutUs .container-fluid .aboutUs-content p {
        font-size: 20px; }
        .aboutUs .container-fluid .aboutUs-content p:first-of-type {
          margin-top: 40px; }

.offer .offer-content {
  text-align: center;
  padding: 70px 0 30px 0; }
  .offer .offer-content p {
    font-size: 20px;
    margin-top: 40px; }
  .offer .offer-content h2:nth-of-type(2) {
    margin-top: 50px; }

.offer .offer-block {
  text-align: center;
  padding: 0 50px; }
  .offer .offer-block:last-of-type {
    padding: 30px 0; }

.pricelist {
  background-color: #272223;
  min-height: 500px;
  padding: 70px 0 0 0;
  color: #fff;
  text-align: center; }
  .pricelist .pricelist_formobile {
    display: none; }
  .pricelist p {
    margin: 40px 0 60px; }
  .pricelist .pricelist-tabel {
    margin: 40px auto;
    padding: 0;
    min-height: 400px;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr repeat(6, 1fr) 2fr 1fr repeat(2, 2fr);
    grid-template-areas: "cell_0 cell_s1 cell_s2 cell_s3 cell_s4 cell_s5" "cell_chart_st cell_s1_price_st cell_s2_price_st cell_s3_price_st cell_s4_price_st cell_s5_price_st" "cell_chart_st cell_s1_time_st cell_s2_time_st cell_s3_time_st cell_s4_time_st cell_s5_time_st" "cell_chart_ex cell_s1_price_ex cell_s2_price_ex cell_s3_price_ex cell_s4_price_ex cell_s5_price_ex" "cell_chart_ex cell_s1_time_ex cell_s2_time_ex cell_s3_time_ex cell_s4_time_ex cell_s5_time_ex" "cell_chart_ru cell_s1_price_ru cell_s2_price_ru cell_s3_price_ru cell_ru_du cell_ru_du" "cell_chart_ru cell_s1_time_ru cell_s2_time_ru cell_s3_time_ru cell_ru_du cell_ru_du" "cell_dopis cell_dopis cell_dopis cell_dopis cell_dopis cell_dopis" ". cell_pak_1 cell_pak_2 cell_pak_3 cell_pak_4 ." ". cell_pak_5 cell_pak_5 cell_pak_5 cell_pak_5 ." ". cell_pak_6 cell_pak_6 cell_pak_6 cell_pak_6 ."; }
    .pricelist .pricelist-tabel .pricelist_strefa {
      font-size: 16px;
      border-bottom: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .pricelist_price {
      background-color: rgba(255, 0, 0, 0.1);
      border-top: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .pricelist_time {
      font-size: 16px;
      font-family: 'comfortaa-light';
      border-bottom: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel div {
      display: flex;
      align-items: center;
      justify-content: center;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; }
    .pricelist .pricelist-tabel .pricelist_do_uzg {
      background-color: rgba(255, 0, 0, 0.1);
      border-top: 1px solid #ea5a48;
      border-bottom: 1px solid #ea5a48; }
      .pricelist .pricelist-tabel .pricelist_do_uzg .pricelist_do_uzg_inside {
        display: block;
        width: 100%;
        font-family: 'comfortaa-light';
        font-size: 16px; }
        .pricelist .pricelist-tabel .pricelist_do_uzg .pricelist_do_uzg_inside a {
          color: #fff;
          font-family: 'comfortaa-bold'; }
    .pricelist .pricelist-tabel .pricelist_paczka {
      padding: 10px;
      background-color: rgba(255, 0, 0, 0.1);
      font-size: 18px;
      font-family: 'comfortaa-bold'; }
    .pricelist .pricelist-tabel .pricelist_dopis {
      border-top: 1px solid #ea5a48;
      font-size: 18px;
      font-family: 'comfortaa-light';
      color: #ea5a48; }
    .pricelist .pricelist-tabel .pricelist_speed {
      display: block;
      position: relative;
      border-top: 1px solid #ea5a48;
      border-right: 1px solid #ea5a48;
      border-bottom: 1px solid #ea5a48;
      color: #ea5a48; }
      .pricelist .pricelist-tabel .pricelist_speed .display_center {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .pricelist .pricelist-tabel .pricelist_speed .display_center img {
          width: auto;
          height: 70px; }
    .pricelist .pricelist-tabel .pricelist_dopis2,
    .pricelist .pricelist-tabel .pricelist_dopis4 {
      font-size: 18px;
      font-family: 'comfortaa-light';
      color: #ea5a48; }
    .pricelist .pricelist-tabel .pricelist_dopis3 a {
      background-color: #ea5a48;
      color: #fff;
      text-decoration: none;
      padding: 15px 25px; }
    .pricelist .pricelist-tabel .cell_wrap_1 {
      grid-area: cell_0;
      border-bottom: 1px solid #ea5a48;
      border-right: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_2 {
      grid-area: cell_s1;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_3 {
      grid-area: cell_s2; }
    .pricelist .pricelist-tabel .cell_wrap_4 {
      grid-area: cell_s3; }
    .pricelist .pricelist-tabel .cell_wrap_5 {
      grid-area: cell_s4; }
    .pricelist .pricelist-tabel .cell_wrap_6 {
      grid-area: cell_s5; }
    .pricelist .pricelist-tabel .cell_wrap_7 {
      grid-area: cell_chart_st; }
    .pricelist .pricelist-tabel .cell_wrap_8 {
      grid-area: cell_s1_price_st;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_9 {
      grid-area: cell_s1_time_st;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_10 {
      grid-area: cell_s2_price_st; }
    .pricelist .pricelist-tabel .cell_wrap_11 {
      grid-area: cell_s2_time_st; }
    .pricelist .pricelist-tabel .cell_wrap_12 {
      grid-area: cell_s3_price_st; }
    .pricelist .pricelist-tabel .cell_wrap_13 {
      grid-area: cell_s3_time_st; }
    .pricelist .pricelist-tabel .cell_wrap_14 {
      grid-area: cell_s4_price_st; }
    .pricelist .pricelist-tabel .cell_wrap_15 {
      grid-area: cell_s4_time_st; }
    .pricelist .pricelist-tabel .cell_wrap_16 {
      grid-area: cell_s5_price_st; }
    .pricelist .pricelist-tabel .cell_wrap_17 {
      grid-area: cell_s5_time_st; }
    .pricelist .pricelist-tabel .cell_wrap_18 {
      grid-area: cell_chart_ex; }
    .pricelist .pricelist-tabel .cell_wrap_19 {
      grid-area: cell_s1_price_ex;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_20 {
      grid-area: cell_s1_time_ex;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_21 {
      grid-area: cell_s2_price_ex; }
    .pricelist .pricelist-tabel .cell_wrap_22 {
      grid-area: cell_s2_time_ex; }
    .pricelist .pricelist-tabel .cell_wrap_23 {
      grid-area: cell_s3_price_ex; }
    .pricelist .pricelist-tabel .cell_wrap_24 {
      grid-area: cell_s3_time_ex; }
    .pricelist .pricelist-tabel .cell_wrap_25 {
      grid-area: cell_s4_price_ex; }
    .pricelist .pricelist-tabel .cell_wrap_26 {
      grid-area: cell_s4_time_ex; }
    .pricelist .pricelist-tabel .cell_wrap_27 {
      grid-area: cell_s5_price_ex; }
    .pricelist .pricelist-tabel .cell_wrap_28 {
      grid-area: cell_s5_time_ex; }
    .pricelist .pricelist-tabel .cell_wrap_29 {
      grid-area: cell_chart_ru; }
    .pricelist .pricelist-tabel .cell_wrap_30 {
      grid-area: cell_s1_price_ru;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_31 {
      grid-area: cell_s1_time_ru;
      border-left: 1px solid #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_32 {
      grid-area: cell_s2_price_ru; }
    .pricelist .pricelist-tabel .cell_wrap_33 {
      grid-area: cell_s2_time_ru; }
    .pricelist .pricelist-tabel .cell_wrap_34 {
      grid-area: cell_s3_price_ru; }
    .pricelist .pricelist-tabel .cell_wrap_35 {
      grid-area: cell_s3_time_ru; }
    .pricelist .pricelist-tabel .cell_wrap_36 {
      grid-area: cell_ru_du; }
    .pricelist .pricelist-tabel .cell_wrap_37 {
      grid-area: cell_dopis; }
    .pricelist .pricelist-tabel .cell_wrap_38 {
      grid-area: cell_pak_1;
      color: #ea5a48; }
    .pricelist .pricelist-tabel .cell_wrap_39 {
      grid-area: cell_pak_2; }
    .pricelist .pricelist-tabel .cell_wrap_40 {
      grid-area: cell_pak_3; }
    .pricelist .pricelist-tabel .cell_wrap_41 {
      grid-area: cell_pak_4; }
    .pricelist .pricelist-tabel .cell_wrap_42 {
      grid-area: cell_pak_5; }
    .pricelist .pricelist-tabel .cell_wrap_43 {
      grid-area: cell_pak_6; }
    .pricelist .pricelist-tabel .cell_wrap_44 {
      grid-area: cell_pak_7; }
  .pricelist .pricelist-card {
    padding-left: 0;
    padding-right: 0; }
    .pricelist .pricelist-card img {
      width: 100%; }
    .pricelist .pricelist-card .mobile {
      display: none; }
    .pricelist .pricelist-card p {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-size: 20px;
      font-family: 'comfortaa-light'; }
      .pricelist .pricelist-card p span {
        color: #ea5a48;
        font-weight: 700; }

.gallery .gallery-content {
  text-align: center;
  padding: 70px 0; }
  .gallery .gallery-content h2 {
    margin: 30px; }
  .gallery .gallery-content .swiper-wrapper {
    width: 100%; }
    .gallery .gallery-content .swiper-wrapper .swiper-slide {
      width: 300px;
      height: 300px;
      background-color: #ccc;
      background-position: center center;
      background-size: cover; }
      .gallery .gallery-content .swiper-wrapper .swiper-slide a {
        color: #fff;
        text-decoration: none; }
      .gallery .gallery-content .swiper-wrapper .swiper-slide .slide-inside {
        background-color: transparent;
        width: 100%;
        height: 100%;
        transition: all .5s ease-in-out;
        position: relative; }
        .gallery .gallery-content .swiper-wrapper .swiper-slide .slide-inside .slider-inside__central {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all .5s ease-in-out;
          opacity: 0; }
          .gallery .gallery-content .swiper-wrapper .swiper-slide .slide-inside .slider-inside__central img {
            width: 50px;
            height: auto;
            margin: 10px; }
          .gallery .gallery-content .swiper-wrapper .swiper-slide .slide-inside .slider-inside__central span {
            display: block;
            width: 100%; }
        .gallery .gallery-content .swiper-wrapper .swiper-slide .slide-inside:hover {
          background-color: rgba(0, 0, 0, 0.7); }
          .gallery .gallery-content .swiper-wrapper .swiper-slide .slide-inside:hover .slider-inside__central {
            opacity: 1; }
    .gallery .gallery-content .swiper-wrapper .slide1 {
      background-image: url("../img/zdj_mini/1m.jpg"); }
    .gallery .gallery-content .swiper-wrapper .slide2 {
      background-image: url("../img/zdj_mini/12m.jpg"); }
    .gallery .gallery-content .swiper-wrapper .slide6 {
      background-image: url("../img/zdj_mini/6m.jpg"); }
    .gallery .gallery-content .swiper-wrapper .slide7 {
      background-image: url("../img/zdj_mini/13m.jpg"); }
    .gallery .gallery-content .swiper-wrapper .slide8 {
      background-image: url("../img/zdj_mini/8m.jpg"); }

.gallery .swiper-pagination {
  position: static; }
  .gallery .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #272223;
    opacity: 1; }
  .gallery .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ea5a48;
    width: 9px;
    height: 9px; }

.contact {
  padding: 70px 0;
  color: #fff;
  background-image: url("../img/bg1.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .contact .contact-list {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; }
    .contact .contact-list img {
      height: 30px;
      width: auto;
      margin: 30px; }
    .contact .contact-list a {
      color: #fff;
      text-decoration: none; }
  .contact #contact-form {
    width: 100%; }
    .contact #contact-form input, .contact #contact-form textarea {
      width: 100%;
      background: transparent;
      padding: 10px 5px;
      font-size: 16px;
      font-weight: 200;
      border: 1px solid #fff;
      color: #fff;
      margin: 10px 0; }
    .contact #contact-form input::placeholder,
    .contact #contact-form textarea::placeholder {
      color: #fff; }
    .contact #contact-form input::-webkit-input-placeholder,
    .contact #contact-form textarea::-webkit-input-placeholder {
      color: #fff; }
    .contact #contact-form input::-moz-placeholder,
    .contact #contact-form textarea::-moz-placeholder {
      color: #fff; }
    .contact #contact-form input:-ms-input-placeholder,
    .contact #contact-form textarea:-ms-input-placeholder {
      color: #fff; }
    .contact #contact-form input:-moz-placeholder,
    .contact #contact-form textarea:-moz-placeholder {
      color: #fff; }
    .contact #contact-form input:focus,
    .contact #contact-form textarea:focus {
      border: 1px solid #ea5a48;
      outline: none;
      box-shadow: 0 0 10px #ea5a48; }
    .contact #contact-form textarea {
      resize: none; }
    .contact #contact-form input[type=submit] {
      background-color: #ea5a48;
      border: 1px solid #ea5a48;
      font-family: 'comfortaa-regular';
      font-size: 22px; }

/* Style Ajax formularz kontaktowy*/
.required {
  color: #ea5a48; }

#success, #error {
  display: none; }

#success span, #error span {
  display: block;
  width: 100%; }

#success span p {
  color: #ea5a48; }

#error span p {
  color: #c0392b; }

.location {
  background-color: #fff;
  text-align: center; }
  .location h2 {
    margin: 70px; }
  .location .location-text {
    padding: 30px; }
    .location .location-text .location-text_row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .location .location-text .location-text_row .location-text_strefa {
        padding: 20px;
        width: 310px; }
        .location .location-text .location-text_row .location-text_strefa h3 {
          color: #ea5a48; }
        .location .location-text .location-text_row .location-text_strefa a {
          color: #fff;
          background-color: #ea5a48;
          display: inline-block;
          padding: 8px 20px; }
  .location .location_map {
    position: relative;
    height: 400px;
    padding-left: 0;
    padding-right: 0; }
    .location .location_map .mapa {
      width: 100%;
      height: 100%; }
    .location .location_map #floating-panel {
      text-align: left;
      padding: 10px 15px;
      border: 2px solid #ea5a48;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      z-index: 999;
      top: 50px;
      left: 50px; }
      .location .location_map #floating-panel li {
        list-style-type: none;
        margin: 5px; }
        .location .location_map #floating-panel li input {
          display: none; }
        .location .location_map #floating-panel li i {
          position: absolute;
          width: 16px;
          height: 16px;
          border: 1px solid #ea5a48;
          display: inline-block;
          margin-right: 5px; }
        .location .location_map #floating-panel li label {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          width: 100%;
          cursor: pointer;
          color: #ea5a48; }
          .location .location_map #floating-panel li label span {
            display: inline-block;
            text-align: left;
            padding-left: 20px; }
          .location .location_map #floating-panel li label:hover {
            color: #f00; }
      .location .location_map #floating-panel .active + i::before {
        content: '';
        display: block;
        background: #ea5a48;
        position: absolute;
        margin-top: 2px;
        margin-left: 2px;
        width: 10px;
        height: 10px; }

footer {
  color: #ea5a48;
  background-color: #272223;
  text-align: center;
  padding: 30px; }

@media (max-width: 767px) {
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; }
  header video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 20px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; }
  .header-content {
    padding: 50px 0;
    position: relative;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 100; }
    .header-content h1 {
      margin-top: 30px;
      font-size: 40px; }
    .header-content h2 {
      margin-top: -10px;
      font-size: 25px; }
    .header-content h3 {
      font-size: 30px; }
      .header-content h3:first-of-type {
        margin-top: 60px; }
    .header-content .header-content__phone a {
      color: #272223;
      font-size: 38px; }
    .header-content .btn-more {
      bottom: 30px;
      padding: 10px;
      width: 260px;
      font-size: 18px; }
  .aboutUs .container-fluid .aboutUs-content {
    padding: 60px 7px; }
    .aboutUs .container-fluid .aboutUs-content p {
      margin-top: 20px; }
  .offer {
    text-align: center;
    padding: 60px 5px; }
    .offer h2 {
      margin-top: -10px;
      font-size: 25px; }
    .offer .offer-block {
      padding: 10px 50px; }
  .pricelist {
    min-height: 300px;
    padding: 60px 0 0 0; }
    .pricelist .pricelist-tabel {
      display: none; }
    .pricelist .pricelist_formobile {
      display: block; }
      .pricelist .pricelist_formobile a {
        background-color: #ea5a48;
        color: #fff;
        text-decoration: none;
        padding: 15px 25px; }
    .pricelist .pricelist-card {
      margin-top: 60px; }
      .pricelist .pricelist-card .mobile {
        display: inline-block; }
      .pricelist .pricelist-card .desktop {
        display: none; }
      .pricelist .pricelist-card p {
        width: 95%; }
  .gallery .gallery-content h2 {
    margin: 0 0 30px 0; }
  .gallery .gallery-content .swiper-wrapper .swiper-slide {
    width: 300px;
    height: 200px; }
  .contact {
    padding: 60px 0; }
    .contact h2 {
      margin: 0; }
    .contact p {
      margin-top: 20px; }
    .contact .contact-list {
      font-size: 18px; }
      .contact .contact-list img {
        margin: 20px 10px; }
  .location {
    background-color: #fff;
    text-align: center; }
    .location h2 {
      margin: 50px; }
    .location .location_map #floating-panel {
      text-align: left;
      padding: 5px 10px;
      border: 1px solid #ea5a48;
      font-size: 14px;
      top: 10px;
      left: 10px; }
      .location .location_map #floating-panel li label span {
        font-size: 12px; }
  footer {
    padding: 20px; } }

@media (max-width: 575px) {
  .gallery .gallery-content .swiper-wrapper .swiper-slide {
    width: 300px;
    height: 300px; } }

/*# sourceMappingURL=style.css.map */